.sesa_create_title {
    color: #a96950;
    font-size: 25px;
    font-weight: bold;
}

.sesa_create_title span {
    color: #4242427a;
    font-size: 16px;
}

.sesa_create_input::placeholder, #sesa_end_date::placeholder {
    color: #4242427a;
}

.sesa_create_input {
    color: #8abfb7;
    border: solid 2px #ffffff;
    border-bottom-color: #52867e;
    transition: all 0.7s ease-in-out;
}

.sesa_create_input:focus {
    border: solid 2px #52867e;
    border-radius: 25px;
    transition: all 0.7s ease-in-out;
}

#sesa_end_date {
    color: #8abfb7;
    padding-right: 5px;
    width: calc(100% - 5px);
    text-indent: 10px;
}

#sesa_end_date::-webkit-datetime-edit-text {
    padding: 0 0 0 0px;
}

.info_sesa {
    color: #4242427a;
}

input {
    text-indent: 15px;
    padding: 5px 0px 5px 0;
}


.sesa_guest_element {
    margin-top: 10px;
    color: #8abfb7;
}

.sesa_guest_title {
    color: #8abfb7;
    font-size: 20px;
    font-weight: 700;
}

/* Button Create */
#div_button_create {
    border-color: #7ecc7f;
    color: #ffffff;
    background: linear-gradient(to left, #ffffff 50%, #7ecc7f 50%) left;
    transition-duration: 0.5s;
}

#div_button_create:hover {
    color: #7ecc7f;
}

#create_button {
    color: #7ecc7f;
    background: linear-gradient(to left, #7ecc7f 50%, #ffffff 50%) left;
    border-color: #7ecc7f;
    background-color: #ffffff;
}

.div_custom_button:hover #create_button {
    color: #ffffff;
}


/* Button Add Guest */
#div_button_add_guest {
    border-color: #8abfb7;
    color: #ffffff;
    background: linear-gradient(to left, #ffffff 50%, #8abfb7 50%) left;
    transition-duration: 0.5s;
}

#div_button_add_guest:hover {
    color: #8abfb7;
}

#add_guest_button {
    color: #8abfb7;
    background: linear-gradient(to left, #8abfb7 50%, #ffffff 50%) left;
    border-color: #8abfb7;
    background-color: #ffffff;
}

.div_custom_button:hover #add_guest_button {
    color: #ffffff;
}


.remove_guest_button {
    font-size: 15px;
    vertical-align: middle;
    color: #ffffff;
    background-color: #db0e1c;
    border: solid 1px #db0e1c;
    border-radius: 25px;
    padding: 2px;
    margin-left: 3px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.remove_guest_button:hover {
    color: #db0e1c;
    background-color: #ffffff;
    transform: rotate(-360deg);
}