.secret_santa_class > .mdl-card__media {
    background-image: url('../images/secret_santa.jpg');
    background-size: cover;
    height: 400px;
    border-radius: 5px;
    margin-bottom: -15px;
}

.secret_santa_class .mdl-card__media {
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff;
}

.separator_content {
    height: 4px;
    background-color: #52867e;
    margin: 12px 0;
}

#page_title {
    text-align: center;
    color: #c51426;
    font-size: 30px;
    font-weight: 700;
}

/* Custom button */
.div_custom_button:active {
    transform: scale(0.90);
}

.div_custom_button::selection, .i_custom_button::selection {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
}

.div_custom_button {
    border: solid 5px;
    border-radius: 25px;
    background-size: 200% !important;
    transition-timing-function: ease-out;
    max-width: fit-content;
    padding-right: 10px;
}

.div_custom_button:hover {
    cursor: pointer;
    background-position: right !important;
}

.div_custom_button .i_custom_button {
    text-align: center;
    background-size: 200% !important;
    transition: 0.4s ease-out;
    transition-delay: .2s;
}

.div_custom_button:hover .i_custom_button {
    background-position: right !important;
    transform: rotate(-360deg);
}

.i_custom_button {
    vertical-align: middle;
    border: solid 1px;
    border-radius: 25px;
    padding: 4px;
    margin: -1px 5px -1px -1px;
}

@media (max-width: 1050px) {
    .secret_santa_class > .mdl-card__media {
        height: 300px !important;
        margin-bottom: -10px;
    }
}

@media (max-width: 650px) {
    .secret_santa_class > .mdl-card__media {
        height: 200px !important;
    }
}

@media (max-width: 500px) {
    .secret_santa_class > .mdl-card__media {
        height: 150px !important;
    }

    .secret_santa_class {
        margin-bottom: -50px !important;
    }
}