.secret_santa_class > .mdl-card__media {
    background-image: url('../images/secret_santa.jpg');
    background-size: 100% 100%;
    height: 400px;
    border-radius: 5px;
    margin-bottom: -15px;
}

.secret_santa_class .mdl-card__media {
    background-repeat: no-repeat;
    background-position: top;
    background-color: #fff;
}

.separator_content {
    height: 4px;
    background-color: #52867e;
    margin: 12px 0;
}

h1 {
    text-align: center;
    color: #8abfb7;
    font-weight: bold;
    margin: 0;
    font-size: 70px;
}

.guest_title {
    color: #a96950;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0 0 0;
    text-align: center;
    width: 100%;
}

#sesa_title {
    font-size: 45px;
    margin: 15px 0;
}

#guest_content .mdl-cell--6-col {
    margin: 8px 0 8px 0;
    padding: 0 8px 0 8px;
    width: 50%;
}

.context_content {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: normal;
    color: rgba(0,0,0,.65);
}

.guest_info, .guest_info ol {
    font-size: 20px;
    margin-top: 10px;
    color:#8abfb7;
    font-weight: bold;
}

#target_gifts li, #guest_gifts li {
    margin: 10px 0;
}

.guest_info span {
    color: rgba(0, 0, 0, 0.65);
    font-weight: normal;
}

@keyframes fade_guest {
    0% {max-height: 0;}
    100% {max-height: 750px;}
}

.fade_guest {
    overflow: hidden;
    padding: 0px 8px;
    margin: 0px 8px;
    animation: fade_guest 3s ease 0s;
}

@media (max-width: 1050px) {
    .secret_santa_class > .mdl-card__media {
        height: 300px !important;
        margin-bottom: -10px;
    }
}

@media (max-width: 650px) {
    .secret_santa_class > .mdl-card__media {
        height: 200px !important;
    }

    #guest_content .mdl-cell--6-col {
        margin: 8px 0 8px 0;
        padding: 0 8px 0 8px;
        width: 100%;
    }
    
    #guest_content, #guest_content .mdl-cell--6-col.left {
        border: none;
    }
}

@media (max-width: 500px) {
    .secret_santa_class > .mdl-card__media {
        height: 150px !important;
    }

    .secret_santa_class {
        margin-bottom: -50px !important;
    }
}




#div_button_edit_gift:active, #div_button_save_gift:active {
    transform: scale(0.90);
}

#div_button_edit_gift::selection, #edit_gift_button::selection,
#div_button_save_gift::selection, #save_gift_button::selection {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
}

#div_button_edit_gift {
    border: solid 5px #8abfb7;
    border-radius: 25px;
    color: #ffffff;
    background: linear-gradient(to left, #ffffff 50%, #8abfb7 50%) left;
    background-size: 200%;
    transition: .5s ease-out;
    max-width: fit-content;
    padding-right: 10px;
}

#div_button_edit_gift:hover {
    background-position: right;
    color: #8abfb7;
    cursor: pointer;
}

#div_button_edit_gift #edit_gift_button {
    text-align: center;
    color: #8abfb7;
    background: linear-gradient(to left, #8abfb7 50%, #ffffff 50%) left;
    background-size: 200%;
    transition: .4s ease-out;
    transition-delay: .2s;
}

#div_button_edit_gift:hover #edit_gift_button {
    color: #ffffff;
    background-position: right;
    transform: rotate(-360deg);
}

#edit_gift_button, #save_gift_button  {
    vertical-align: middle;
    color: #8abfb7;
    border: solid 1px #8abfb7;
    border-radius: 25px;
    padding: 4px;
    margin: -1px 5px -1px -1px;
    background-color: #ffffff;
}

#div_button_save_gift {
    border: solid 5px #7ecc7f;
    border-radius: 25px;
    color: #ffffff;
    background: linear-gradient(to left, #ffffff 50%, #7ecc7f 50%) left;
    background-size: 200%;
    transition: .7s ease-out;
    max-width: fit-content;
    padding-right: 10px;
}

#div_button_save_gift:hover {
    background-position: right;
    color: #7ecc7f;
    cursor: pointer;
}

#div_button_save_gift #save_gift_button {
    text-align: center;
    color: #7ecc7f;
    background: linear-gradient(to left, #7ecc7f 50%, #ffffff 50%) left;
    background-size: 200%;
    transition: .4s ease-out;
    transition-delay: .4s;
}

#div_button_save_gift:hover #save_gift_button {
    color: #ffffff;
    background-position: right;
    transform: rotate(-360deg);
}

#save_gift_button {
    color: #7ecc7f;
    border: solid 1px #7ecc7f;
}
