#content_inscription h3 {
    color: #e96e27;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
}

.form_user_content {
    color: #2385b3;
    font-size: 20px;
}

.btn_edit_user, .btn_save_user, .btn_cancel_user, .btn_remove_account {
    font-size: 20px;
    background-color: #2385b3;
    color: #fff;
    border-radius: 12px;
    width: 100%;
    border: solid 2px #2385b3;
    overflow: auto;
    padding: 10px;

    line-height: 10px;
    margin-top: -10px;
    position: relative;
    cursor: pointer;
    line-height: 15px;
}

.btn_remove_account {
    width: 200%;
    line-height: 25px;
}

.btn_save_user {
    background-color: #4caf4fc0;
    color: #fff;
    border-color: #4caf4fc0;
}

.btn_save_user:hover {
    background-color: #fff;
    color: #4caf4fc0;
}

.btn_cancel_user, .btn_remove_account {
    background-color: #af4c4cc0;
    color: #fff;
    border-color: #af4c4cc0;
}

.btn_cancel_user:hover, .btn_remove_account:hover {
    background-color: #fff;
    color: #af4c4cc0;
}

.btn_edit_user:hover, .showcreds:hover {
    background-color: #fff;
    color: #2385b3
}

.showcreds {
    background-color: #2385b3;
    color:#fff;
    border-color: #2385b3;
}

#pseudo_remove_account {
    color: #e96e27;
    padding: 5px;
}

dialog div {
    color: #424242 !important;
    line-height: 30px;
}

dialog {
    width: fit-content !important;

}

#input_remove_account {
    text-align: center !important;
    width: 80%;
    margin-left: 10%;
}

#btn_cancel_remove {
    color: #fff;
    background-color: #4caf4fc0;
    border: solid 2px #4caf4fc0;
}

#btn_cancel_remove:hover {
    color: #4caf4fc0;
    background-color: #fff;
}

#btn_valide_remove {
    color: #fff;
    background-color: #af4c4cc0;
    border: solid 2px #af4c4cc0;
    margin-left: 10px;
}

#btn_valide_remove:hover {
    color: #af4c4cc0;
    background-color: #fff;
}
