body {
    background-color: #ddd;
}

.mdl-card__title {
    background-color: #2385b3 !important;
    color: #fff !important;
}

h2 {
    font-size: 30px !important;
    font-weight: 500 !important;
}

.container_connection {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0);
    perspective: 1000px;
    width: 60%;
    height: 500px;
    text-align: center;
}

.mdl-card {
    width: 100%;
    height: 100%;
}

.mdl-card__title .mdl-button--icon {
    height: 28px;
    width: 28px;
    min-width: 28px;
}

.mdl-textfield__label {
    width: 100%;
}

#btn_connection_page, .showcreds {
    background-color: #2385b3;
    color: #fff !important;
    border: solid 2px #2385b3 ;
}

#btn_connection_page:hover, .showcreds:hover {
    background-color: #fff;
    color: #2385b3 !important;
}

#link_insciption,
#link_pass_forgot {
    color: #2385b3 !important;
    cursor: pointer;
}

.mdl-textfield.is-focused .mdl-textfield__label {
    color: #2385b3 !important;
}

.mdl-textfield.is-upgraded .mdl-textfield__label {
    color: #2385b3 !important;
}

.mdl-textfield__label:after {
    background-color: #2385b3;
}