body {
    background-color: #ddd;
}

.mdl-card__title {
    background-color: #e96e27 !important;
    color: #ffffff !important;
}

h2 {
    font-size: 30px !important;
    font-weight: 500 !important;
}

.container_inscription {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0);
    perspective: 1000px;
    width: 60%;
    height: 500px;
    text-align: center;
}

.mdl-card {
    width: 100%;
    min-height: 100%;
}

.mdl-card__title .mdl-button--icon {
    height: 28px;
    width: 28px;
    min-width: 28px;
}

.mdl-textfield__label {
    width: 100%;
}

#btn_insctiption, .showcreds {
    background-color: #e96e27;
    color: #ffffff !important;
    border: solid 2px #e96e27 ;
}

#btn_insctiption:hover, .showcreds:hover {
    background-color: #fff;
    color: #e96e27 !important;
}

#link_insciption,
#link_pass_forgot {
    color: #e96e27 !important;
    cursor: pointer;
}

.mdl-textfield.is-focused .mdl-textfield__label {
    color: #e96e27 !important;
}

.mdl-textfield.is-upgraded .mdl-textfield__label {
    color: #e96e27 !important;
}

.mdl-textfield__label:after {
    background-color: #424242;
}

.invalid_input, .not_same_error  {
    text-align: left;
    line-height: 10px;
    font-size: 15px !important;
    margin-top: -15px;
}
