body {
    background-color: #ddd;
}

.mdl-card__title {
    background-color: #e96e27 !important;
    color: #ffffff !important;
}

h2 {
    font-size: 30px !important;
    font-weight: 500 !important;
}

.container_inscription {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0);
    perspective: 1000px;
    height: 400px;
    text-align: center;
}

.mdl-card {
    width: 60vw;
}

.mdl-textfield__label {
    width: 100%;
}

#btn_insctiption, .showcreds {
    background-color: #e96e27;
    color: #ffffff !important;
    border: solid 2px #e96e27 ;
}

#btn_insctiption:hover, .showcreds:hover {
    background-color: #fff;
    color: #e96e27 !important;
}

#link_connection {
    color: #e96e27 !important;
    cursor: pointer;
}

.mdl-textfield.is-upgraded .mdl-textfield__label {
    color: #e96e27 !important;
}

.mdl-textfield__label:after {
    background-color: #424242;
}

.invalid_input, .not_same_error  {
    text-align: left;
    line-height: 10px;
    font-size: 15px !important;
    margin-top: -15px;
}

.mdl-cell--6-col {
    width: calc(50% - 16px) !important;
}

.pattern_block {
    color:red;
    text-align:left;
    margin-top: -25px;
}

@media (max-width: 839px) {
    .container_inscription .showcreds {
        display: none;
    }

    .mdl-card {
        width: 90vw !important;
    }

    .pattern_block {
        margin-top: -90px !important;
    }

    .not_same_error {
        margin-top: -70px !important;
    }
}