<!DOCTYPE html>

<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=about_us}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content">
                <div class="demo-blog__posts mdl-grid" id="top">
                    <div class="mdl-card about_us mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media"></div>
                        <div class="separator_content"></div>
                        <div class="mdl-card__supporting-text">
                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-cell mdl-cell--12-col about_us_title">
                                    <h3>À propos de Moi</h3>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col about_us_content">
                                    Bienvenue sur mon site !<br /><br />
                                    Je suis fiers de vous accueillir ici, et j'espère vous offrir la 
                                    meilleure expérience possible pendant votre passage !<br /><br />

                                    Je suis passionnés d'informatique et c'est pour cela
                                    que je me suis lancer dans la réalisation de site web, 
                                    qui me permettra de presenter mes petits projets.
                                    Ce site à pour unique but de me permettre d'experimenter des 
                                    technologies, et d'améliorer mes competences:<br /><br />

                                    <span class="about_us_list">• Web (HTML/CSS/PHP/JS...)</span><br />
                                    <span class="about_us_list">• Dev (Python/Go/Rust/C/C++...)</span><br />
                                    <span class="about_us_list">• System (Bash/Docker...)</span><br />
                                    <span class="about_us_list">• Autre (Bot Discord)</span><br /><br />

                                    Toutes remarque est bonne à prendre (bug, conseil, proposition d'amélioration...), 
                                    c'est pour cela que vous pouvez me contacter à l'adresse mail 
                                    <b>support@jeremiehenrion.eu</b>. Si vous avez des questions ou des commentaires, n'hésitez pas 
                                    à me contacter, je serai ravis de vous repondre et d'echanger avec vous.<br /><br />

                                    Merci de votre passage,<br />
                                    <span id="myname">Jérémie H.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
            </div>
        </div>
    </body>
</html>