<!DOCTYPE html>

<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=inscription}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content">
                <div class="demo-blog__posts mdl-grid banner banner_error">
                    <div class="mdl-cell--2-col">&nbsp;</div>
                    <div class="mdl-cell--8-col">
                        <img src="../logo/logo-white.png" />
                        <h1>Une erreur est survenue</h1>
                    </div>
                    <div class="mdl-cell--2-col">&nbsp;</div>
                </div>

                <div class="demo-blog__posts mdl-grid banner banner_validated">
                    <div class="mdl-cell--2-col">&nbsp;</div>
                    <div class="mdl-cell--8-col">
                        <img src="../logo/logo-white.png" />
                        <h1>Votre inscription à bien été prise en compte</h1>
                        <h3>Vous allez être redirigé vers la page d'accueil dans <span id="timer_inscription">10</span> secondes</h3>
                    </div>
                    <div class="mdl-cell--2-col">&nbsp;</div>
                </div>



                <div class="container_inscription" id="top">
                    <div class="mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title mdl-color--primary mdl-color-text--white relative">
                            <div class="mdl-grid">
                                <h2 class="mdl-cell mdl-cell--12-col mdl-card__title-text">Inscription</h2>
                            </div>
                        </div>

                        <div class="mdl-card__supporting-text">
                            <div class="mdl-grid">
                                <div class="mdl-cell--12-col">&nbsp;</div>
                                <div class="mdl-cell--12-col">&nbsp;</div>
                                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input
                                        class="mdl-textfield__input inscription_input inscription_input_save"
                                        type="text"
                                        id="name"
                                        name="name"
                                        {{!-- placeholder="Nom" --}}
                                    />
                                    <label class="mdl-textfield__label" for="name">Nom</label>
                                </div>

                                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input
                                        class="mdl-textfield__input inscription_input inscription_input_save"
                                        type="text"
                                        id="first_name"
                                        name="first_name"
                                        {{!-- placeholder="Prénom" --}}
                                    />
                                    <label class="mdl-textfield__label" for="first_name">Prénom</label>
                                </div>

                                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input
                                        class="mdl-textfield__input inscription_input inscription_input_save"
                                        type="text"
                                        name="pseudo_form"
                                        id="pseudo_form"
                                        {{!-- placeholder="Pseudo" --}}
                                        onchange="before_pseudo()"
                                    />
                                    <label class="mdl-textfield__label" for="pseudo_form">Pseudo</label>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col invalid_input">
                                    Ce pseudo est deja utilisé
                                </div>


                                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input
                                        class="mdl-textfield__input inscription_input inscription_input_save"
                                        type="text"
                                        id="birthdate"
                                        name="birthdate"
                                        {{!-- placeholder="Pseudo" --}}
                                        min="1900-01-01"
                                        pattern="[0-2][0-9]-[0-1][0-9]-[1,2][0,9]\d{2}"
                                        oninput="update_birthdate(event)"
                                    />
                                    <label class="mdl-textfield__label" for="birthdate">Date de naissance (dd-mm-yyyy)</label>
                                </div>

                                <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input
                                        class="mdl-textfield__input inscription_input inscription_input_save"
                                        type="text"
                                        id="email"
                                        name="email"
                                        {{!-- placeholder="Email" --}}
                                    />
                                    <label class="mdl-textfield__label" for="email">Email</label>
                                </div>

                                <div class="mdl-cell mdl-cell--11-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input
                                        class="mdl-textfield__input inscription_input"
                                        type="password"
                                        id="password1"
                                        name="password1"
                                        {{!-- placeholder="Mot de passe" --}}
                                        oninput="before_submit()"
                                    />
                                    <label class="mdl-textfield__label" for="password1">Mot de passe</label>
                                </div>
                                <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <i id="password-1" class="material-icons showcreds">visibility</i>
                                </div>

                                <div class="mdl-cell mdl-cell--12-col pattern_block">
                                    <ul>
                                        <li id="pattern_min">1 lettre minuscule</li>
                                        <li id="pattern_maj">1 lettre majuscule</li>
                                        <li id="pattern_dig">1 chiffre</li>
                                        <li id="pattern_spe">1 caractère spécial</li>
                                    </ul>
                                </div>


                                <div class="mdl-cell mdl-cell--11-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input
                                        class="mdl-textfield__input inscription_input"
                                        type="password"
                                        id="password2"
                                        name="password2"
                                        {{!-- placeholder="Mot de passe" --}}
                                        oninput="before_submit()"
                                    />
                                    <label class="mdl-textfield__label" for="password2">Mot de passe</label>
                                </div>
                                <div class="mdl-cell mdl-cell--1-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <i id="password-2" class="material-icons showcreds">visibility</i>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col not_same_error">
                                    Les mots de passe ne correspondent pas
                                </div>

                                <div class="mdl-cell--12-col">&nbsp;</div>
                                <div class="mdl-cell--12-col">&nbsp;</div>

                                <span style="color: red; font-size: 15px; font-weight: normal">
                                    Tous les mots de passe sont chiffrés, mais pour des questions de 
                                    sécurité, merci d'utiliser/créer un nouveau mot de passe.
                                </span>

                                <div class="mdl-cell--12-col">&nbsp;</div>
                            </div>
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <div class="mdl-grid">
                                <button 
                                    id="btn_insctiption" 
                                    class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
                                    onclick="send_inscription()">
                                    S'inscrire
                                </button>
                            </div>

                            <div class="mdl-grid" id="form_links">
                                <div class="mdl-cell mdl-cell--12-col">
                                    <a id="link_connection" href="/home/connection.html">Connection</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-card__actions">
                        <div class="mdl-cell--12-col">&nbsp;</div>
                        <div class="mdl-cell--12-col">&nbsp;</div>
                    </div>
                </div>
{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
            </div>
        </div>
    </body>
</html>

