<!DOCTYPE html>

<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=inscription}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content">
                <div class="mdl-cell--12-col">&nbsp;</div>
                <div class="demo-blog__posts mdl-grid" id="top">
                    <div class="mdl-cell--2-col banner banner_error"></div>
                    <div class="mdl-cell--8-col banner banner_error">
                        <img src="../logo/logo-white.png" />
                        <h1>Une erreur est survenue</h1>
                    </div>
                    <div class="mdl-cell--2-col banner banner_error"></div>
                    <div class="mdl-cell--2-col banner banner_validated"></div>
                    <div class="mdl-cell--8-col banner banner_validated">
                        <img src="../logo/logo-white.png" />
                        <h1>Votre inscription à bien été prise en compte</h1>
                        <h3>Vous allez être redirigé vers la page d'accueil dans <span id="timer_inscription">10</span> secondes</h3>
                    </div>
                    <div class="mdl-cell--2-col banner banner_validated"></div>
                    <div id="content_inscription">
                        <div class="mdl-cell--12-col">&nbsp;</div>
                        <div class="mdl-cell--12-col"><h1>Inscription</h1></div>

                        <div class="mdl-grid" id="form_inscription">
                            <div class="mdl-cell--3-col form_part_title">Nom<span>*</span></div>
                            <div class="mdl-cell--8-col">
                                <input
                                    class="mdl-textfield__input inscription_input inscription_input_save"
                                    type="text"
                                    id="name"
                                    name="name"
                                    placeholder="Nom"
                                />
                            </div>
                            <div class="mdl-cell--1-col">&nbsp;</div>

                            <div class="mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell--3-col form_part_title">Prénom<span>*</span></div>
                            <div class="mdl-cell--8-col">
                                <input
                                    class="mdl-textfield__input inscription_input inscription_input_save"
                                    type="text"
                                    id="first_name"
                                    name="first_name"
                                    placeholder="Prénom"
                                />
                            </div>
                            <div class="mdl-cell--1-col">&nbsp;</div>
                            
                            <div class="mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell--3-col form_part_title">Pseudo<span>*</span></div>
                            <div class="mdl-cell--8-col">
                                <input
                                    class="mdl-textfield__input inscription_input inscription_input_save"
                                    type="text"
                                    name="pseudo_form"
                                    id="pseudo_form"
                                    placeholder="Pseudo"
                                    onchange="before_pseudo()"
                                />
                            </div>
                            <div class="mdl-cell--1-col">&nbsp;</div>
                            <div class="mdl-cell--12-col invalid_input">
                            Ce pseudo est deja utilisé
                            </div>

                            <div class="mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell--3-col form_part_title">Date de naissance<span>*</span></div>
                            <div class="mdl-cell--8-col">
                                <input
                                    class="mdl-textfield__input inscription_input inscription_input_save"
                                    type="date"
                                    id="birthdate"
                                    name="birthdate"
                                    min="1900-01-01"
                                    pattern="\d{2}-\d{2}-\d{4}"
                                />
                            </div>
                            <div class="mdl-cell--1-col">&nbsp;</div>

                            <div class="mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell--3-col form_part_title">Email<span>*</span></div>
                            <div class="mdl-cell--8-col">
                                <input
                                    class="mdl-textfield__input inscription_input inscription_input_save"
                                    type="text"
                                    id="email"
                                    name="email"
                                    placeholder="Email"
                                />
                            </div>
                            <div class="mdl-cell--1-col">&nbsp;</div>

                            <div class="mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell--3-col form_part_title">Mot de passe<span>*</span></div>
                            <div class="mdl-cell--8-col">
                                <input
                                    class="mdl-textfield__input inscription_input"
                                    type="password"
                                    id="password1"
                                    name="password1"
                                    placeholder="Mot de passe"
                                    oninput="before_submit()"
                                />
                            </div>
                            <div class="mdl-cell--1-col">
                                <i id="password-1" class="material-icons showcreds">visibility</i>
                            </div>
                            <div class="mdl-cell--12-col" style="color:red; margin-top: 10px;">
                                <span style="color:grey;">Votre mot de passe doit contenir au moins:</span>
                                <ul>
                                    <li id="pattern_min">1 lettre minuscule</li>
                                    <li id="pattern_maj">1 lettre majuscule</li>
                                    <li id="pattern_dig">1 chiffre</li>
                                    <li id="pattern_spe">1 caractère spécial</li>
                                </ul>
                            </div>

                            <div class="mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell--3-col form_part_title">Vérification du mot de passe<span>*</span></div>
                            <div class="mdl-cell--8-col">
                                <input
                                    class="mdl-textfield__input inscription_input"
                                    type="password"
                                    id="password2"
                                    name="password2"
                                    placeholder="Vérification du mot de passe"
                                    oninput="before_submit()"
                                />
                            </div>
                            <div class="mdl-cell--1-col">
                                <i id="password-2" class="material-icons showcreds">visibility</i>
                            </div>
                            <div class="mdl-cell--12-col not_same_error">
                                Les mots de passe ne correspondent pas
                            </div>

                            <div class="mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell--12-col">&nbsp;</div>
                            <span style="color: red; font-size: 12px; font-weight: normal">
                                <b style="font-size: 16px">*Information : </b>Tous les mots de
                            passe sont chiffrés, mais pour des questions de sécurité, merci
                            d'utiliser/créer un nouveau mot de passe.
                            </span>

                            <div class="mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell--4-col"></div>
                            <div class="mdl-cell--4-col">
                                <button
                                    onclick="send_inscription()"
                                    class="btn_insctiption"
                                    >S'inscrire
                                </button>
                            </div>
                            <div class="mdl-cell--4-col"></div>
                        </div>
                    </div>
                </div>
{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
            </div>
        </div>
    </body>
</html>
