                <footer class="mdl-mega-footer">
                    <div class="mdl-mega-footer--top-section">
                        <div class="mdl-mega-footer--right-section">
                            <a class="mdl-typography--font-light" href="#top">
                                Back to Top<i class="material-icons">expand_less</i>
                            </a>
                        </div>
                        <div class="mdl-mega-footer--middle-section">
                        <p style="text-align: center" class="mdl-typography--font-light">
                            Jérémie Henrion © 2023, France
                        </p>
                        </div>
                    </div>
                </footer>