                    <button
                        class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect"
                        id="more-button"
                    ><i class="material-icons">more_vert</i>
                    </button>
                    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                        <li class="mdl-menu__item connection_off">
                            <a href="#">Connection</a>
                        </li>
                        <li class="mdl-menu__item connection_on">
                            <a onclick="disconnected_func()" href="#">Deconnection</a>
                        </li>
                        <li class="mdl-menu__item connection_off">
                            <a href="/home/inscription.html">Inscription</a>
                        </li>
                        <li class="mdl-menu__item">
                            <a href="/home/about_us.html">About us</a>
                        </li>
                    </ul>