            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">
                    <a href="/home/index.html">
                        <img class="icon-image" src="logo/icon.png"/>
                    </a>
                </span>
                <nav class="mdl-navigation">
                    <span class="mdl-navigation__link">Liens</span>
                    <a class="mdl-navigation__link" href="/phpmyadmin/">phpmyadmin</a>
                    <a class="mdl-navigation__link" href="../marvel-fan/index.html">Fan site Marvel</a>
                    <a class="mdl-navigation__link" href="../wikipediie/vue/home.php">Wikipediie</a>
                    <div class="separator"></div>
                    <span class="mdl-navigation__link">Raspberry Pi</span>
                    <a class="mdl-navigation__link" href="php/installation.php">Installation</a>
                    <div class="separator"></div>
                    <span class="mdl-navigation__link">APIs</span>
                    <a class="mdl-navigation__link" href="/api/v1/">API V1</a>
                    <div class="separator"></div>
                    <span class="mdl-navigation__link">Autres</span>
                    <a class="mdl-navigation__link" href="">WIP</a>
                </nav>
            </div>