<!DOCTYPE html>
<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=create}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content">
                <div class="demo-blog__posts mdl-grid" id="top">
                    <div class="mdl-card secret_santa_guest mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media"></div>
                        {{!-- <div class="mdl-cell mdl-cell--12-col">
                            <div id="guest_error" class="mdl-cell--12-col banner banner_error">
                                <img src="../logo/logo-white.png" />
                                <h1>Votre guest ID n'est pas reconnu ou n'existe pas</h1>
                                <h3>Merci de vérifier l'URL et de réessayer</h3>
                            </div>
                        </div> --}}
                        {{!-- <div class="mdl-card__supporting-text">
                            <div class="mdl-cell mdl-cell--12-col context_title">
                                Context
                            </div>
                            <div class="mdl-cell mdl-cell--12-col context_content">
                                Vous avez été ajouté dans un Secret Santa. Si vos information
                                ne sont pas correctes merci de contacter la personne qui a
                                créé le Secret Santa. <br />Une personne vous a été attribuée
                                et vous trouverez son nom et son adresse email juste en
                                dessous. N'hésitez pas à la contacter si vous ne savez pas de
                                qui il s'agit.
                            </div>
                        </div> --}}
                    </div>

                    <div class="mdl-cell--12-col separator_content">&nbsp;</div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <p style="text-align: center; color: #c51426; font-size: 30px; font-style: bold;">WORK IN PROGRESS</p>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <p style="text-align: center; color: #c51426; font-size: 30px; font-style: bold;">PAGE CREATE SECRET SANTA</p>
                    </div>
                    <div class="mdl-cell--12-col separator_content">&nbsp;</div>

                </div>
            </div>

{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
        </div>
    </body>
</html>