<!DOCTYPE html>
<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=create}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content">
                <div class="demo-blog__posts mdl-grid" id="top">

                    <div class="mdl-cell--2-col banner banner_validated"></div>
                    <div class="mdl-cell--8-col banner banner_validated">
                        <img src="../logo/logo-white.png" />
                        <h1>Secret Santa créé avec succès</h1>
                        <h3>Redirection...<span id="timer_inscription">7</span></h3>
                    </div>
                    <div class="mdl-cell--2-col banner banner_validated"></div>

                    <div class="mdl-cell--2-col banner banner_error"></div>
                    <div class="mdl-cell--8-col banner banner_error">
                        <img src="../logo/logo-white.png" />
                        <h1>Une erreur est survenue</h1>
                    </div>
                    <div class="mdl-cell--2-col banner banner_error"></div>

                    <div class="mdl-cell mdl-cell--12-col">
                        <p style="text-align: center; color: #c51426; font-size: 30px; font-style: bold;">WORK IN PROGRESS</p>
                    </div>

                    <div class="mdl-card secret_santa_class mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media"></div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <p style="text-align: center; color: #c51426; font-size: 30px; font-style: bold;">CÉATION D'UN NOUVEAU SECRET SANTA</p>
                        </div>
                    </div>

                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--4-col sesa_create_title">Titre <span>(optionnel)</span></div>
                    <div class="mdl-cell--7-col">
                        <input
                            class="mdl-textfield__input sesa_create_input"
                            type="text"
                            id="sesa_title"
                            name="sesa_title"
                            placeholder="Secret santa des champions"
                        />
                    </div>
                    <div class="mdl-cell--1-col">&nbsp;</div>

                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--4-col sesa_create_title">Date de fin prévu</div>
                    <div class="mdl-cell--7-col">
                        <input
                            class="mdl-textfield__input sesa_create_input"
                            type="date"
                            id="sesa_end_date"
                            name="sesa_end_date"
                        />
                    </div>
                    <div class="mdl-cell--1-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col info_sesa">Le respect de cette date n'est pas obligatoire, et ne sert qu'à fournir un aperçu de la date de fin.</div>

                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col sesa_create_title">Participants</div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>

                    <div id="guests_content" class="mdl-grid">
                        {{!-- Guest content manage via JS --}}
                    </div>

                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--1-col"></div>
                    <div class="mdl-cell--11-col">
                        <div style="display:flex; justify-content: space-between;">
                            <div id="div_button_add_guest">
                                <i id="add_guest_button" class="material-icons">add</i>Ajouter un Guest
                            </div>
                            <div id="div_button_create">
                                <i id="create_button" class="material-icons">done</i>Crée le secret santa
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>

                </div>
            </div>
{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
        </div>
    </body>
</html>