<!DOCTYPE html>
<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=create}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content" id="page">
                <div class="demo-blog__posts mdl-grid" id="top">

                    <div class="mdl-cell--2-col banner banner_validated"></div>
                    <div class="mdl-cell--8-col banner banner_validated">
                        <img src="../logo/logo-white.png" />
                        <h1>Secret Santa créé avec succès</h1>
                        <h3>Redirection...<span id="timer_inscription">7</span></h3>
                    </div>
                    <div class="mdl-cell--2-col banner banner_validated"></div>

                    <div class="mdl-cell--2-col banner banner_error"></div>
                    <div class="mdl-cell--8-col banner banner_error">
                        <img src="../logo/logo-white.png" />
                        <h1>Une erreur est survenue</h1>
                    </div>
                    <div class="mdl-cell--2-col banner banner_error"></div>
                    <div class="mdl-card secret_santa_class mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media"></div>
                        <div class="mdl-cell mdl-cell--12-col" id="page_title">CÉATION D'UN NOUVEAU SECRET SANTA</div>
                    </div>

                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--4-col sesa_create_title">Titre <span>(optionnel)</span></div>
                    <div class="mdl-cell--7-col">
                        <input
                            class="mdl-textfield__input sesa_create_input"
                            type="text"
                            id="sesa_new_title"
                            name="sesa_new_title"
                        />
                    </div>
                    <div class="mdl-cell--1-col">&nbsp;</div>

                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--4-col sesa_create_title">Date de fin prévu*</div>
                    <div class="mdl-cell--7-col">
                        <input
                            class="mdl-textfield__input sesa_create_input"
                            type="date"
                            id="sesa_end_date"
                            name="sesa_end_date"
                        />
                    </div>
                    <div class="mdl-cell--1-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col info_sesa">*Le respect de cette date n'est pas obligatoire, et ne sert qu'à fournir un aperçu de la date de fin.</div>

                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col sesa_create_title">Participants</div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>

                    <div id="guests_content" class="mdl-grid">
                        <div class="mdl-cell--1-col element_0">&nbsp;</div>
                        <div class="mdl-cell--11-col element_0 sesa_guest_title">Vos informations</div>
                        <div class="mdl-cell--3-col element_0">&nbsp;</div><div class="mdl-cell--9-col element_0 sesa_guest_element">Nom</div>
                        <div class="mdl-cell--3-col element_0">&nbsp;</div>
                        <div class="mdl-cell--8-col element_0" id="guest_0_name"></div><div class="mdl-cell--1-col element_0">&nbsp;</div>
                        <div class="mdl-cell--3-col element_0">&nbsp;</div>
                        <div class="mdl-cell--9-col element_0 sesa_guest_element">Email</div>
                        <div class="mdl-cell--3-col element_0">&nbsp;</div>
                        <div class="mdl-cell--8-col element_0" id="guest_0_email"></div><div class="mdl-cell--1-col element_0">&nbsp;</div>
                        <div class="mdl-cell--12-col element_0">&nbsp;</div><div class="mdl-cell--12-col element_0">&nbsp;</div>

                        {{!-- Guest content manage via JS --}}
                    </div>

                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--1-col"></div>
                    <div class="mdl-cell--11-col">
                        <div style="display:flex; justify-content: space-between;">
                            <div class="div_custom_button" id="div_button_add_guest">
                                <i class="i_custom_button material-icons" id="add_guest_button">add</i>Ajouter un Guest
                            </div>
                            <div class="div_custom_button" id="div_button_create">
                                <i class="i_custom_button material-icons" id="create_button">done</i>Crée le secret santa
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>

                </div>
            </div>
{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
        </div>
    </body>
</html>