<!DOCTYPE html>
<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=create}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content">
                <div class="demo-blog__posts mdl-grid" id="top">

                    <div class="mdl-cell mdl-cell--12-col">
                        <p style="text-align: center; color: #c51426; font-size: 30px; font-style: bold;">WORK IN PROGRESS</p>
                    </div>

                    <div class="mdl-card secret_santa_guest mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media"></div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <p style="text-align: center; color: #c51426; font-size: 30px; font-style: bold;">CÉATION D'UN NOUVEAU SECRET SANTA</p>
                        </div>
                    </div>

                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--4-col sesa_create_title">Titre <span>(optionnel)</span></div>
                    <div class="mdl-cell--7-col">
                        <input
                            class="mdl-textfield__input sesa_create_input"
                            type="text"
                            id="sesa_title"
                            name="sesa_title"
                            placeholder="Secret santa des champions"
                        />
                    </div>
                    <div class="mdl-cell--1-col">&nbsp;</div>

                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--4-col sesa_create_title">Date de fin prévu</div>
                    <div class="mdl-cell--7-col">
                        <input
                            class="mdl-textfield__input sesa_create_input"
                            type="date"
                            id="sesa_end_date"
                            name="sesa_end_date"
                        />
                    </div>
                    <div class="mdl-cell--1-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col info_sesa">Le respect de cette date n'est pas obligatoire, et ne sert qu'à fournir un aperçu de la date de fin.</div>

                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col sesa_create_title">Participants</div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>

                    <div id="guests_content" class="mdl-grid">
                        
                        {{!-- <div class="mdl-cell--1-col">&nbsp;</div>
                        <div class="mdl-cell--11-col sesa_guest_title">Guest TEST
                            <i id="remove_guest_TEST_button" class="material-icons remove_guest_button">remove</i>
                        </div>


                        <div class="mdl-cell--3-col">&nbsp;</div><div class="mdl-cell--9-col sesa_guest_element">Nom</div>
                        <div class="mdl-cell--3-col">&nbsp;</div><div class="mdl-cell--8-col">
                            <input
                                class="mdl-textfield__input sesa_create_input"
                                type="text"
                                id="guest_TEST_name"
                                name="guest_TEST_name"
                                placeholder="Peter P."
                            />
                        </div><div class="mdl-cell--1-col">&nbsp;</div>
                        <div class="mdl-cell--3-col">&nbsp;</div><div class="mdl-cell--9-col sesa_guest_element">Email</div>
                        <div class="mdl-cell--3-col">&nbsp;</div><div class="mdl-cell--8-col">
                            <input
                                class="mdl-textfield__input sesa_create_input"
                                type="text"
                                id="guest_TEST_mail"
                                name="guest_TEST_mail"
                                placeholder="peter.parker@gmail.com"
                            />
                        </div><div class="mdl-cell--1-col">&nbsp;</div>
                        <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div> --}}
                    
                    {{!-- Guest content manage via JS --}}
                    </div>

                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--1-col"></div>
                    <div class="mdl-cell--11-col">
                        <div style="display:flex; justify-content: space-between;">
                            <div id="div_button_add_guest">
                                <i id="add_guest_button" class="material-icons">add</i>Ajouter un Guest
                            </div>
                            <div id="div_button_create">
                                <i id="create_button" class="material-icons">done</i>Crée le secret santa
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>

                </div>
            </div>

{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
        </div>
    </body>
</html>
                        {{!-- <div class="mdl-cell mdl-cell--12-col">
                            <div id="guest_error" class="mdl-cell--12-col banner banner_error">
                                <img src="../logo/logo-white.png" />
                                <h1>Votre guest ID n'est pas reconnu ou n'existe pas</h1>
                                <h3>Merci de vérifier l'URL et de réessayer</h3>
                            </div>
                        </div> --}}
                        {{!-- <div class="mdl-card__supporting-text">
                            <div class="mdl-cell mdl-cell--12-col context_title">
                                Context
                            </div>
                            <div class="mdl-cell mdl-cell--12-col context_content">
                                Vous avez été ajouté dans un Secret Santa. Si vos information
                                ne sont pas correctes merci de contacter la personne qui a
                                créé le Secret Santa. <br />Une personne vous a été attribuée
                                et vous trouverez son nom et son adresse email juste en
                                dessous. N'hésitez pas à la contacter si vous ne savez pas de
                                qui il s'agit.
                            </div>
                        </div> --}}