<!DOCTYPE html>

<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=guest}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content">
                <div class="demo-blog__posts mdl-grid" id="top">
                    <div class="mdl-cell--2-col banner banner_error_id"></div>
                    <div class="mdl-cell--8-col banner banner_error_id">
                        <img src="../logo/logo-white.png" />
                        <h1>Votre guest ID n'est pas reconnu ou n'existe pas</h1>
                        <h3>Merci de vérifier l'URL et de réessayer</h3>
                    </div>
                    <div class="mdl-cell--2-col banner banner_error_id"></div>

                    <div class="mdl-cell--2-col banner banner_error"></div>
                    <div class="mdl-cell--8-col banner banner_error">
                        <img src="../logo/logo-white.png" />
                        <h1>Une erreur est survenue</h1>
                    </div>
                    <div class="mdl-cell--2-col banner banner_error"></div>

                    <div class="mdl-cell--2-col banner banner_validated"></div>
                    <div class="mdl-cell--8-col banner banner_validated">
                        <img src="../logo/logo-white.png" />
                        <h1>Modification prise en compte</h1>
                    </div>
                    <div class="mdl-cell--2-col banner banner_validated"></div>

                    <div class="mdl-card secret_santa_class mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media"></div>
                    </div>

                    <div class="mdl-cell mdl-cell--12-col guest_title">
                        Context
                    </div>
                    <div class="mdl-cell mdl-cell--12-col context_content">
                        Vous avez été ajouté dans un Secret Santa. Si vos information
                        ne sont pas correctes merci de contacter la personne qui a
                        créé le Secret Santa. <br />Vous trouverez les informations de
                        la personne qui vous a été attribuée (nom et adresse email) 
                        juste en dessous. Si vous ne savez pas de qui il s'agit, n'hésitez 
                        pas à la contacter le créateur du secret Santa.
                    </div>
                    <div class="mdl-cell mdl-cell--12-col context_content" id="add_to_profil_msg">
                        <span style="color:red">*</span>Connectez-vous pour ajouter ce secret santa à votre profile
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid" id="guest_content">
                        <div class="mdl-cell mdl-cell--12-col guest_title" id="sesa_title"></div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <b>Créateur :</b>
                                <span id="sesa_creator_name"></span>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <b>Email :</b>
                                <span id="sesa_creator_email"></span>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <b>Date de fin :</b>
                                <span id="sesa_date_end"></span>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <b>Nombre de participants :</b>
                                <span id="sesa_ng_guest"></span>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col">&nbsp;</div>

                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-cell mdl-cell--12-col guest_title">
                                Vos Informations
                            </div>
                            <div class="mdl-cell mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <b>Name :</b>
                                <span id="guest_name"></span>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <b>Email :</b>
                                <span id="guest_email"></span>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-cell mdl-cell--12-col guest_title">
                                Information du destinataire
                            </div>
                            <div class="mdl-cell mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <b>Name :</b>
                                <span id="target_name"></span>
                            </div>
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <b>Email :</b>
                                <span id="target_email"></span>
                            </div>
                        </div>

                        <div class="mdl-cell mdl-cell--12-col">&nbsp;</div>

                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-cell mdl-cell--12-col guest_title">
                                Vos idées cadeaux
                            </div>
                            <div class="mdl-cell mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <ol id="guest_gifts"></ol>
                                <div class="div_custom_button" id="div_button_edit_gift">
                                    <i id="edit_gift_button" class="i_custom_button material-icons">edit</i>Modifier
                                </div>
                                <div class="div_custom_button" id="div_button_save_gift">
                                    <i id="save_gift_button" class="i_custom_button material-icons">done</i>Enregistrer
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <div class="mdl-cell mdl-cell--12-col guest_title">
                                Idées cadeaux du destinataire
                            </div>
                            <div class="mdl-cell mdl-cell--12-col">&nbsp;</div>
                            <div class="mdl-cell mdl-cell--12-col guest_info">
                                <ol id="target_gifts"></ol>
                                <div class="div_custom_button" id="div_button_add_profil">
                                    <i id="add_profil_button" class="i_custom_button material-icons">person_add</i>Ajouter au profile
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col separator_content" style="background-color: #8abfb7"></div>
                </div>
{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
            </div>
        </div>
    </body>
</html>
