<!DOCTYPE html>
<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=index}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content">
                <div class="demo-blog__posts mdl-grid" id="top">
                    <div class="mdl-card secret_santa_class mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media"></div>
                    </div>

                    <div class="mdl-card mdl-cell mdl-cell--12-col secret_santa_card">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="container">
                                <div class="left-div">
                                    <img class="santa_logo" alt="Preview site" src="images/secret_santa_logo.jpg">
                                </div>
                                <div class="center-div">
                                    <div id="center_div_gest">JE SUIS UN GEST</div>
                                    <input
                                        placeholder="Guest ID"
                                        class="mdl-textfield__input secret_santa_input"
                                        type="text"
                                        id="guest_input"
                                    />
                                </div>
                                <div class="sesa_button_card" id="btn_check_guest">ACCÉDER</div>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-cell--12-col separator_content">&nbsp;</div>

                    <div class="mdl-card mdl-cell mdl-cell--12-col secret_santa_card connection_on_keep">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="container">
                                <div class="left-div">
                                    <img class="santa_logo" alt="Preview site" src="images/secret_santa_logo.jpg">
                                </div>
                                <div class="center-div">
                                    <div class="center_div_classic">CRÉER UN SECRET SANTA</div>
                                </div>
                                <div class="sesa_button_card" id="btn_create">CRÉER</div>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-cell--12-col separator_content connection_on_keep">&nbsp;</div>

                    <div class="mdl-card mdl-cell mdl-cell--12-col secret_santa_card connection_on_keep">
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="container">
                                <div class="left-div">
                                    <img class="santa_logo" alt="Preview site" src="images/secret_santa_logo.jpg">
                                </div>
                                <div class="center-div">
                                    <div class="center_div_classic">GÉRER MES SECRET SANTA</div>
                                </div>
                                <div class="sesa_button_card" id="btn_manage">LISTER</div>
                            </div>
                        </div>
                    </div>
                </div>
{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
            </div>
        </div>
    </body>
</html>