<!DOCTYPE html>
<html lang="fr">
    <head>
{{loadpartial '../partials/head.html' 'head'}}{{> head page=manage}}
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <div class="mdl-layout__header mdl-layout__header--waterfall">
{{loadpartial '../partials/header.html' 'header'}}{{> header}}
            </div>

{{loadpartial '../partials/navbar.html' 'navbar'}}{{> navbar}}
            <div class="mdl-layout__content" id="page">
                <div class="demo-blog__posts mdl-grid" id="top">
                    <div class="mdl-cell--2-col banner banner_error"></div>
                    <div class="mdl-cell--8-col banner banner_error">
                        <img src="../logo/logo-white.png" />
                        <h1>Une erreur est survenue</h1>
                    </div>
                    <div class="mdl-cell--2-col banner banner_error"></div>
                    <div class="mdl-card secret_santa_class mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__media"></div>
                        <div class="mdl-cell mdl-cell--12-col" id="page_title">GESTION DE SES SECRET SANTA</div>
                    </div>

                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div>

                    <div class="mdl-cell--1-col"></div>
                    <div class="mdl-cell--10-col" id="banner_manage_sesa">
                        <div class="banner_manage flex_space">
                            <div class="manage_title">
                                Mes secret santa
                            </div>
                            <div id="button_down_sesa">
                                <i class="mdl-cell--1-col material-icons manage_title">keyboard_arrow_up</i>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell--1-col"></div>

                    <div id="sesa_content" class="mdl-cell mdl-cell--12-col mdl-grid"></div>

                    <div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div>

                    <div class="mdl-cell--1-col"></div>
                    <div class="mdl-cell--10-col" id="banner_manage_guest">
                        <div class="banner_manage flex_space">
                            <div class="manage_title">
                                Mes guests
                            </div>
                            <div id="button_down_guest">
                                <i class="mdl-cell--1-col material-icons manage_title">keyboard_arrow_up</i>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell--1-col"></div>

                    <div id="guest_content" class="mdl-cell mdl-cell--12-col mdl-grid"></div>

                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                    <div class="mdl-cell--12-col">&nbsp;</div><div class="mdl-cell--12-col">&nbsp;</div>
                </div>
{{loadpartial '../partials/footer.html' 'footer'}}{{> footer}}
            </div>
        </div>
    </body>
</html>