                <footer>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-grid mdl-grid--nesting">
                            <div class="mdl-cell mdl-cell--4-col"></div>
                            <div id="watermark" class="mdl-cell mdl-cell--4-col">Jérémie Henrion © 2024, France</div>
                            <div id="link_top" class="mdl-cell mdl-cell--4-col">
                                <a href="#top">
                                    Top<i class="material-icons">expand_less</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </footer>